<!DOCTYPE html>
<html lang="en" class="{{sysSettings.background}}-BG">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="/static/css/main.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>


    {% block head %}

    {% endblock %}

</head>
<body>

    <div class="page-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{sysSettings.siteName}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/channels">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/topics">Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/streamers">Streamers</a>
                    </li>
                </ul>
                {% if user.is_authenticated == False %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                </ul>
                {% if sysSettings.allowRegistration == True %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><i class="far fa-id-card"></i> Register</a>
                    </li>
                </ul>
                {% endif %}
                {% else %}
                <ul class="navbar-nav" style="margin-right:35px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img width="30" height="30" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{current_user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if user.has_role('Admin') %}
                            <a class="dropdown-item" href="/settings/admin"><i class="fas fa-server"></i> Admin</a>
                          {% endif %}
                          {% if user.has_role('Streamer') %}
                          <a class="dropdown-item" href="/settings/channels"><i class="fas fa-video"></i> My Channels</a>
                          <a class="dropdown-item" href="/settings/api"><i class="fas fa-key"></i> API Keys</a>
                          {% endif %}
                          <a class="dropdown-item" href="/settings/user"><i class="fas fa-cogs"></i> Settings</a>
                          <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="{{sysSettings.background}}-BG" style="padding-bottom:50px;">

        {%- with messages = get_flashed_messages(with_categories=true) -%}
          {% if messages %}
            <br>
            <div class="justify-content-center">
            {% for category, message in messages %}
                <div class="alert alert-primary" style="width:95%;margin:0 auto;margin-bottom:20px;">
                    <div class="{{ category }}">{{ message }}</div>
                </div>
            {% endfor %}
            </div>
          {% endif %}
        {%- endwith %}

    {% block body %}

    {% endblock %}

    </div>


    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% block scripts %}

    {% endblock %}
<footer class="footer shadow">
    <div style="padding-right:30px;">Developed with Love by <a href="https://davelockwood.net">Deamos</a> <a href="https://gitlab.com/Deamos/flask-nginx-rtmp-manager"><img src="/static/img/gitlab.png" width="32" height="32" style="margin-left:10px;"></a></div>
</footer>

<script>
    $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
        $('footer').slideDown(300);
    } else {
        $('footer').slideUp(300);
    }
    });
</script>

</body>


</html>