{% extends "layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{stream.streamName}}</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>-->

    <script type="text/javascript" src="/static/vendor/socketio/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/vendor/popper/js/popper.min.js"></script>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

{% endblock %}

{% block body %}
      <div class="container-fluid" style="padding-bottom:50px;">
          <div class="row {% if stream.channel.chatEnabled == False %}justify-content-md-center{% endif %}">
              <div class="{% if stream.channel.chatEnabled == True %}col-xl-9 col-lg-12{% else %} col-xl-8{% endif %} col-sm-12">
                  <div class="White-BG player">
                    <!--<video id="video" class="shadow videoStream" autoplay controls></video>-->
                    <video id="video" class="shadow videoStream video-js vjs-big-play-centered" poster="{{stream.channel.channelLoc}}.png" autoplay controls preload="auto" data-setup='{"fluid": true }'>
                        <source src="{{streamURL}}" type="application/x-mpegURL">
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                  </div>
                  <div class="video-buttons-mobile justify-content-center">
                      <div>
                        <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                            <i class="fas fa-share-alt"></i>
                        </button>
                      </div>
                      {% if stream.channel.owningUser == current_user.id %}
                          <div style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </div>
                      {% endif %}
                  </div>
                  <div class="White-BG streamInfo shadow">
                      <div class="video-buttons-lg">
                          {% if stream.channel.owningUser == current_user.id %}
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </div>
                          {% endif %}
                          <div class="float-right">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                                  <i class="fas fa-share-alt"></i>
                              </button>
                          </div>
                      </div>
                      <div>
                          <div class="streamcard-IconText"><i class="fas fa-video"></i></div> <div style="float:left;"><span><b>{{stream.streamName}}</b></span></div><br>
                          <div class="streamcard-IconText"><i class="fas fa-tv"></i></div> <div style="float:left;"><span><b>{{stream.channel.channelName}}</b></span></div><br>
                          <div class="streamcard-IconText"><i class="fas fa-hashtag"></i></div> <div style="float:left;"><b>{{stream.topic|get_topicName}}</b></div><br>
                          <img src="{{stream.channel.owningUser|get_pictureLocation}}" width="32" height="32"> <b>{{stream.channel.owningUser|get_userName}}</b><br>
                          <div class="streamcard-IconText"><i class="fas fa-users"></i></div> <div style="float:left;">{{stream.totalViewers}}</div> <br>
                          <div class="streamcard-IconText"><i class="fas fa-eye"></i></div> <div style="float:left;"><span id="currentViewers">{{stream.currentViewers}}</span></div> <br>
                          <div class="streamcard-IconText"><a href="javascript:void(0)" onclick="changeUpvote()"><i id="upVoteIcon" class="far fa-thumbs-up"></i></a></div><div style="float:left;"> <span id="totalUpvotes"></span></div> <br>
                      </div>
                  </div>
              </div>
              {% if stream.channel.chatEnabled == True %}
                <div class="col-xl-3 col-lg-12 .d-none .d-xl-block" id="chatBlock">
                  <div class="chatbox" style="margin-bottom:210px;">
                      <div id="chat" class="chat shadow"></div><br>
                      <input id="text" size="80" class="form-control shadow" {% if current_user.is_authenticated==false %} disabled placeholder="Login to Chat" {% else %} placeholder="Type Message Here..." {% endif %}><br>
                      <button type="button" id="userList" class="btn btn-primary shadow" data-html="true" data-toggle="popover" title="<b>User List</b>" data-content="" data-placement="right">User List</button>
                      <a href="#" onClick="MyWindows=window.open('/view/{{stream.channel.channelLoc}}/?chatOnly=True','myWindow', 'width=600,height=850');return false;" class="btn btn-primary shadow"><i class="fas fa-external-link-alt"></i></a>
                  </div>
                </div>
              {% endif %}
          </div>

          {% if stream.channel.recordedVideo != [] and stream.channel.recordedVideo[0].pending == False %}
          <div class="row justify-content-center" style="padding-bottom:50px;">
              <div class="{% if stream.channel.chatEnabled == True %} col-12 {% else %} col-xl-8{% endif %}">
                  <div class="card shadow" style="margin-top:30px;margin-bottom:30px;">
                      <h5 class="card-header">Other Videos from this Channel</h5>
                      <div class="card-body">
                          <div class="streamList d-flex align-content-around flex-wrap">
                              {% for video in stream.channel.recordedVideo %}
                                  {% if video.pending == False %}
                                    <div class="streamcard">
                                      <a href="/play/{{video.id}}">
                                          <div class="stream shadow card p-2 streamcard-item">
                                            <img class="stream-img card-img-top shadow" src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                            <div class="card-body">
                                                <h5 class="card-title text-shadow-close">{{video.channelName}}</h5><br>
                                                <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                                                <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                                            </div>
                                            <div class="streamcard-footer bg-transparent">
                                                <div class="float-left"><i class="fas fa-users"></i> {{video.views}}</div>
                                                <div class="float-right"><i class="fas fa-clock"></i> {{video.length|hms_format}}</div>
                                            </div>
                                        </div>
                                      </a>
                                    </div>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
    </div>

{% if stream.channel.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Stream Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/view/{{stream.channel.channelLoc}}/change" method="post">
      <div class="modal-body">

            <h5>Name of the Stream:</h5>
            <input type="text" class="form-control" value="{{stream.streamName}}" name="newStreamName" required>
            <br>
            <h5>Stream Topic:</h5>
            <select class="form-control" name="newStreamTopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                {% for topic in topics %}
                <option value={{topic.id}} {% if stream.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                {% endfor %}
            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Changes">
      </div>
        </form>
    </div>
  </div>
</div>

{% endif %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalTitle">Share a Video/Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div style="margin: 0 auto;width: 99%; text-align: center;">
            <button type="button" id="FBShareBtn" class="btn shadow" style="background-color:#4267B2;color:white;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{request.url}}','facebook-share-dialog','width=626,height=436');return false;">Share on Facebook</button>
            <button type="button" id="TwitterShareBtn" class="btn shadow" style="background-color:#1dcaff;color:white;" onclick="window.open('https://twitter.com/share?url={{request.url}}&text=Check out this Stream! - {{stream.streamName}}','twitter-share-dialog','width=626,height=436');return false;">Share on Twitter</button>
          </div>
        <br>
        <div class="form-group row">
            <label for="embedURLInput" class="col-sm-2 col-form-label"><b>Embed</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="embedURLInput" type="text" value="<iframe src='{{request.url}}?embedded=True' width=600 height=345></iframe>" readonly onClick="this.select();">
            </div>
        </div>
        <div class="form-group row">
            <label for="linkShareInput" class="col-sm-2 col-form-label"><b>Link</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="linkShareInput" type="text" value="{{request.url}}" readonly onClick="this.select();">
            </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/vendor/videojs/js/video.js"></script>

    <script>
        videojs('video', {autoplay: true});
    </script>


    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };

        var socket = io();
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('newViewer', {data: '{{stream.channel.channelLoc}}'});
        });
    </script>

    <script>
        socket.on('disconnect', function() {
            socket.emit('removeViewer', {data: '{{stream.channel.channelLoc}}'});
        });
    </script>


    <script>
        window.addEventListener("beforeunload", function (e) {
            socket.emit('removeViewer', {data: '{{stream.channel.channelLoc}}'});
            return null;
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('viewerTotalResponse', function (msg) {
            document.getElementById("currentViewers").innerHTML = msg['data'];
            var userBoxHTML = "";
            var userList = msg['userList'];
            var userListLength = userList.length;
            for (var i = 0; i < userListLength; i++) {
                userBoxHTML = userBoxHTML.concat(userList[i],'<br>');
            }
            var userListElement = document.getElementById("userList");
            userListElement.setAttribute("data-content",userBoxHTML);
        });
    </script>

    <script>
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text, room:'{{stream.channel.channelLoc}}' });
            }
        });
    </script>

    <script>

        socket.on('message', function(data) {
            var today = new Date();
            var h = today.getHours();
            var m = (today.getMinutes() < 10? '0' : '') + today.getMinutes();
            var s = today.getSeconds();
            $('#chat').append('<div class="chatBar-Item shadow slide-in-left"><div class="charBar-Item-Image"><img src="' + data['image'] +'" width="52px" height="52px"></div><div class="chatBar-Item-Text"><b>' + data['user'] + '</b> '+ h + ':' + m + '<br>' + data['msg'] + '</div></div>');
            $('#chat').scrollTop(1000000);
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <script>
        setInterval(function() {
          socket.emit('getViewerTotal', {data: "{{stream.channel.channelLoc}}"} );
        },30000 );
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('getUpvoteTotal', {loc: '{{stream.id}}', vidType: 'stream'});
        });
    </script>

    <script>
        setInterval(function() {
          socket.emit('getUpvoteTotal', {loc: '{{stream.id}}', vidType: 'stream'});
        },30000 );
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('upvoteTotalResponse', function (msg) {
            document.getElementById("totalUpvotes").innerHTML = msg['totalUpvotes'];
            if (msg['myUpvote'] === 'True'){
                if ( document.getElementById("upVoteIcon").classList.contains('far') ) {
                    document.getElementById("upVoteIcon").classList.remove('far');
                    document.getElementById("upVoteIcon").classList.add('fas');
                }
            }
            else if (msg['myUpvote'] === 'False'){
                if ( document.getElementById("upVoteIcon").classList.contains('fas') ) {
                    document.getElementById("upVoteIcon").classList.remove('fas');
                    document.getElementById("upVoteIcon").classList.add('far');
                }
            }
        });
    </script>

    <script>
        function changeUpvote() {
            socket.emit('changeUpvote', {loc: '{{stream.id}}', vidType: 'stream'});
            socket.emit('getUpvoteTotal', {loc: '{{stream.id}}', vidType: 'stream'});
        }
    </script>
{% endblock %}