{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User Channels Page</title>
{% endblock %}

{% block body %}
<div class="container-fluid" style="padding-bottom:20px;padding-top:10px;">
    <div class="table-responsive">
      <table class="table">
          <thead class="thead-dark">
          <tr style="color:white;">
              <th scope="col">Stream Name</th>
              <th scope="col">Type</th>
              <th>Channel Picture</th>
              {% if sysSettings.allowRecording == True %}
              <th scope="col">Record?</th>
              {% endif %}
              <th scope="col">Chat Enabled?</th>
              <th scope="col">Stream Key</th>
              <th scope="col">Edit</th>
              <th scope="col">Options</th>
          </tr>
          </thead>
          <tbody class="White-BG">
          {% for channel in channels %}
          <tr scope="row" style="color:black;">
            <form action="/settings/channels" enctype=multipart/form-data method="post">
                <td><input type="text" class="form-control" name="channelName" id="channelName" value="{{channel.channelName}}" required></td>
                <td>
                    <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                        {% for topic in topics %}
                        <option value={{topic.id}} {% if channel.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {% if channel.imageLocation == None %}
                    <img src="/static/img/video-placeholder.jpg" width="284px" height="155px">
                    {% else %}
                    <img src="/images/{{channel.imageLocation}}" width="284px" height="155px">
                    {% endif %}

                    <input type=file name=photo class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;">

                </td>
                {% if sysSettings.allowRecording == True %}
                <td>
                    <label class="switch">
                      <input type="checkbox" id="recordSelect" name="recordSelect" {% if channel.record == True %} checked {% endif %}>
                      <span class="slider round"></span>
                    </label>
                </td>
                {% endif %}
                <td>
                    <label class="switch">
                      <input type="checkbox" id="chatSelect" name="chatSelect" {% if channel.chatEnabled == True %} checked {% endif %}>
                      <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="streamKey" id="streamKey-{{channel.id}}" value="{{channel.streamKey}}" required readonly aria-describedby="generateGUID required">
                        <div class="input-group-append">
                            <span class="input-group-text" id="generateGUID-{{channel.id}}"><i class="fas fa-sync"></i></span>
                        </div>
                    </div>
                </td>
                <input type="hidden" id="type" name="type" value="change">
                <input type="hidden" id="origStreamKey" name="origStreamKey" value="{{channel.streamKey}}">
                <td><input type="submit" class="btn btn-success" value="&#128393;"></td>
                </form>
                <td><a href="/settings/channels?action=delete&streamkey={{channel.streamKey}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>



          </tr>
          {% endfor %}
          <tr scope="row">
            <form action="/settings/channels" method="post">
                <td><input type="text" class="form-control" name="channelName" id="channelName" value="" required> </td>
                <td>
                    <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                        {% for topic in topics %}
                        <option value={{topic.id}}>{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                {% if sysSettings.allowRecording == True %}
                <td>
                    <label class="switch">
                      <input type="checkbox" id="recordSelect" name="recordSelect">
                      <span class="slider round"></span>
                    </label>
                </td>
                {% endif %}
                <td>
                    <label class="switch">
                      <input type="checkbox" id="chatSelect" name="chatSelect">
                      <span class="slider round"></span>
                    </label>
                </td>
                <td></td>
                <input type="hidden" id="type" name="type" value="new">
                <td><input type="submit" class="btn btn-success" value="&#43;"></td>
                <td></td>
            </form>
          </tr>
          </tbody>
      </table>
    </div>
</div>
<script>
    function guid() {
          return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
            s4() + '-' + s4() + s4() + s4();
        }

    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }

    {% for channel in channels %}
    document.getElementById('generateGUID-{{channel.id}}').addEventListener('click', function() {
      document.getElementById('streamKey-{{channel.id}}').value = guid();
    })
    {% endfor %}

</script>
{% endblock %}